
//media query
$maxMobile:"(max-width:767px)";
$maxSmale:"(max-width:991px)";
$minSmale:"(max-width:768px)";

//colors

$redColor:#e2494c;
$greyColor:#9c9c9c;


//float

$floatLeft:left;
$floatRight:right;


